@model Snack

    <div class="col-4 text-center">
        <div class="img-thumbnail">
            <img src="@Model.ImageURL" class="img-rounded" alt="" />
        </div>
        <div>
            <h4>@Model.Price.ToString("c")</h4>
        </div>
        <h3><a asp-controller="Snack" asp-action="Details" asp-route-SnakeId="@Model.Id">@Model.Name</a></h3>
        <p>@Model.DescriptionShort</p>
        <div text-right">
            <p class="formPullRightButton">
                <a class="btn btn-primary" asp-controller="CartBuy" asp-action="AddItemCartBuy" asp-route-SnakeId="@Model.Id">
                    Incluir no Carrinho
                </a>
            </p>
        </div>
    </div>